<!doctype html>
<html>
  <head>
	  <title>{{ title }}</title>
  </head>
<body>	
	<div style="border:1px solid black">  		
		<img src="{{ image_url }}" alt="NASA picture" style="width:1245px;height:910px;"> 
	        <!-- <img src="{{ image_url }}" alt="NASA picture"> -->
        </div>
    <div>      
          <div style="border:1px solid black">
              <div id="mydiv"style="display: inline-block; margin: 0 auto; position: relative; text-align: center;" >
             Click or press any buttton for next image
           </div>
	    	    
	    <h2 style="text-align:center"> Explanation </h2>
	    <h4 style="text-align:left"> {{ date }}</h4>
	    <p2> {{ explanation }} </p2>
    </div>	    
  <script>
    window.setTimeout(() => {
    flash = document.getElementById('mydiv');
    flash.style.visibility = 'hidden';	   
    }, 2000);
    ["click", "keypress"].forEach(ev=>{
	    window.addEventListener(ev, function(e) {
            window.location.reload();    
            });
    });
 </script>	  
</body>
</html>
